*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151515;

}
.oval1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 9999px;
    border: 3px solid #fe444425;
    border-top: 3px solid red;
    animation: ani 3s linear infinite;

}
.oval2{
    width: 130px;
    height: 130px;
    border-radius: 9999px;
    border: 3px solid #fe444425;
    border-top: 3px solid rgb(255, 225, 0);
    animation: ani 3s linear infinite;

}
@keyframes ani {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}